/*Importar Fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../IMG/Fondo-Inicio.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    
}
header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
/*Estilo del Logo de capacitaciones ADE*/
.logo-right {
    position: absolute; 
    top: 70px;          
    right: 0px;        
    width: 1050px;       
    z-index: 100px;    
}
.fondo-debajo{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 30px;
    border-radius: 12px;
    max-width: 600px;
    margin-top: -10px;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}   



.navbar .logo{
    /*position: absolute; 
    top: 15px;*/
    font-size: 2.1rem;
    font-weight: 600;
}
.navbar .logo span{
    color: #F28705;
}
.navbar .menu-links{
    /*position: absolute; 
    top: 30px;          
    right: 150px; */
    display: flex;
    gap: 40px;
}
.navbar ul li{
    list-style: none;
}
.navbar a{
    color: #037F8C;
    text-decoration: none;
    transition: 0.2s ease;
}
.navbar a:hover{
    color:#F28705;
}
.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.hero-section .content{
    position: absolute; 
    top: 290px;
    right: 100px;
    color: #037F8C;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.hero-section .content h1{
    font-size: 3rem;
    max-width: 600px;
}
.hero-section .content p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}
.hero-section .content button{
    background: #f2f2f2;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}
.hero-section .content button:hover{
    color: #fff;
    background: #F28705;
}
#menu-btn{
    color: #000;
    cursor: pointer;
    display: none;
}
#close-menu-btn{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 900px){
    body{
        background: url("../IMG/Fondo-Inicio.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    #close-menu-btn, #menu-btn{
        display: block;
    }
    .navbar .menu-links{
        position: fixed;
        /*left: -260px;*/
        right: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #fff;
        padding: 70px 40px 0;
        transition: right 0.5s ease;
    }
    header.show-mobile-menu .navbar .menu-links{
        /*left: 0;*/
        right: 0;
        
    }
    .navbar a{
        color: #037F8C;
    }
    .hero-section .content{
        display: none;
    }

    


}
