@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../IMG/Fondo-Inicio.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(7px);



}

.form-container {

    background-color: #cfe1e7;
    border-radius: 20px;
    padding: 0 17px 17px 17px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.8);

}

.form-container img {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 0px;

}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.login-header {
    text-align: center;
    margin: -50px 0 30px 0;
}

.login-header header {
    color: #0B7285;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    /*transition: all .3s ease;*/
}

::placeholder {
    font-weight: 500;
    color: #F28705;
}

/*.input-field:focus {
    width: 105%;
}*/

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #0B7285;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
    align-items: center;
    color: #fff;
    font-size: 19px;
}

/*.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}*/

.submit-btn:hover {
    background: #F2E6D0;
    color: black;
    transform: scale(1.03, 1);
}
