.rbRecursos{
    display: none;
}
.recursos{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: center;    
}

.top-recursos{
    background-color: #280137;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    row-gap: wrap;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #F28705;
}
.top-recursos h3{
    height: 100%;
    background-color: #F28705;
    line-height: 60px;
    padding: 0 30px;
    color: #fff
}
.top-recursos label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 12px;
    color: #f2f2f2;
    cursor: pointer;
    transition: all .5s ease;
}
.top-recursos label:hover{
    color: #F28705;
}
.top-recursos label i{
    font-size: 20px;
}
.top-recursos label img{
    width: 20px;
    height: 20px;
}
.galeria-recursos{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #F28705;
    cursor: pointer;
    transition: all .5s ease;
}
.pic p{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: auto;
    font-weight: bold;
    text-align: center;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .5s ease;
}
.pic::before{
    content: "DESCARGAR";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F28705;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: all .3s ease;
    transition-delay: .2s;
    z-index: 1;
}
.pic:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}

#rbTodo:checked ~ .recursos .galeria-recursos .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: all .5s ease;
}
#rbMultimedia:checked ~ .recursos .galeria-recursos .Multimedia{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#rbMultimedia:checked ~ .recursos .galeria-recursos .Manuales,
#rbMultimedia:checked ~ .recursos .galeria-recursos .Cartas,
#rbMultimedia:checked ~ .recursos .galeria-recursos .Aventureros,
#rbMultimedia:checked ~ .recursos .galeria-recursos .Conquistadores
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: all .5s ease;
}
#rbManuales:checked ~ .recursos .galeria-recursos .Manuales{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#rbManuales:checked ~ .recursos .galeria-recursos .Multimedia,
#rbManuales:checked ~ .recursos .galeria-recursos .Cartas,
#rbManuales:checked ~ .recursos .galeria-recursos .Aventureros,
#rbManuales:checked ~ .recursos .galeria-recursos .Conquistadores
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: all .5s ease;
}
#rbCartas:checked ~ .recursos .galeria-recursos .Cartas{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#rbCartas:checked ~ .recursos .galeria-recursos .Multimedia,
#rbCartas:checked ~ .recursos .galeria-recursos .Manuales,
#rbCartas:checked ~ .recursos .galeria-recursos .Aventureros,
#rbCartas:checked ~ .recursos .galeria-recursos .Conquistadores
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: all .5s ease;
}
#rbAventureros:checked ~ .recursos .galeria-recursos .Aventureros{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#rbAventureros:checked ~ .recursos .galeria-recursos .Multimedia,
#rbAventureros:checked ~ .recursos .galeria-recursos .Manuales,
#rbAventureros:checked ~ .recursos .galeria-recursos .Cartas,
#rbAventureros:checked ~ .recursos .galeria-recursos .Conquistadores
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: all .5s ease;
}
#rbConquistadores:checked ~ .recursos .galeria-recursos .Conquistadores{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#rbConquistadores:checked ~ .recursos .galeria-recursos .Multimedia,
#rbConquistadores:checked ~ .recursos .galeria-recursos .Manuales,
#rbConquistadores:checked ~ .recursos .galeria-recursos .Cartas,
#rbConquistadores:checked ~ .recursos .galeria-recursos .Aventureros
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: all .5s ease;
}


@media (max-width:1000px) {
    .galeria-recursos{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width:960px) {
    .galeria-recursos{
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    .top-recursos label i,
    .top-recursos label img{
        margin: 0 10px;
    }
    .top-recursos h3{
        padding: 10px;
    }
}
@media (max-width:760px){
    .top-recursos label{
        margin: 0 15px;
    }
    .galeria-recursos{
        grid-template-columns: repeat(2, 1fr);
    }
    .top-recursos label i,
    .top-recursos label img{
        margin: 0 5px;
    }
    .top-recursos label span{
        display: none;
    }
}@media (max-width:660px){
    .top-recursos h3{
        display: none;
    }
}
@media (max-width:623px) {
    .top-recursos label i,
    .top-recursos label img{
        margin: 0 5px;
        padding: 0;
    }
}
@media (max-width:500px){
    .top-recursos{
        width: 80%;
    }
    .top-recursos label{
        margin: 0 10px;
    }
}
@media (max-width:450px){
    .top-recursos{
        width: 70%;
    }
    .top-recursos label{
        margin: 0 5px;
    }
}
@media (max-width:400px){
    .top-recursos label{
        margin: 0 2px;
    }
}